footer {
  background-color: rgb(20, 20, 20); /* Cor de fundo do footer */
  padding: 20px; /* Espaçamento interno do footer */
  text-align: center; /* Alinhamento do conteúdo do footer */
  font-size: 15px;
  margin-top: 200px;
}